@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	margin: 1%;
	font-family: 'Nanum Gothic', sans-serif;
}
#gtk-signup-title { font-size:30px;font-weight:400;padding-bottom:10px; }
.gtk-login-process-box .gtk-process-bar { min-width:300px; }
.gtk-login-process-box .gtk-process-bar button{ width:90%; }


#loginbox { margin-top:25px;margin-bottom:100px }
#loginbox .row{ margin-bottom:25px; }

.login_top img { width:450px; }
.login_top .gtk-login-summary { display:inline-block; vertical-align:middle; }
.bottom_menu { 
	margin-top:15px;
}
.gtk-login-btn-group { text-align:center }

#loginbox .input-group { margin-bottom:10px; }
#loginbox .input-group input, 
#loginbox .input-group button { height:35px; }
#loginbox .input-group input  { width:70%;border:2px solid #999;border-radius:0px; }
#loginbox .input-group.no-addon input  { width:100%; }
#loginbox .input-group button { width:30%; }
#loginbox .gtk-term-condition-group { border:1px solid #dadada; min-height:180px; }
#loginbox .gtk-term-condition-group .gtk-term-condition-box { padding:0px; }
#loginbox .gtk-term-condition-group .gtk-term-condition-box>pre { background-color:#f5f6f7;height:125px;border:0px;border-radius:0px; }

/*#loginbox .gtk-btn.gtk-btn-sm { width:85px; }*/
.bottom_menu>a {
	 display:inline-block;
	 width:250px;
	 height:45px;
	 box-shadow: 
	    2px 0 0 0 #CCC, 
	    0 2px 0 0 #CCC, 
	    2px 2px 0 0 #CCC,   /* Just to fix the corner */
		    2px 0 0 0 #CCC inset, 
		    0 2px 0 0 #CCC inset;
	 padding-top:12px;
	 text-align:center;
	 text-decoration:none;
	 color:#333;
	 font-weight:700;
}
.bottom_menu>a:hover {
	background-color:#999;
	color:#FFF;
}
.bottom_copyright {
		padding-top:10px;
		text-align:center; 
}