@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	margin: 1%;
	font-family: 'Nanum Gothic', sans-serif;
}
.top_menu { 
	 text-align:right;
}
.top_menu>a {
	 display:inline-block;
	 width:90px;
	 height:27px;
	 box-shadow: 
	    2px 0 0 0 #CCC, 
	    0 2px 0 0 #CCC, 
	    2px 2px 0 0 #CCC,   /* Just to fix the corner */
	    2px 0 0 0 #CCC inset, 
	    0 2px 0 0 #CCC inset;
	 padding-top:3px;
	 text-align:center;
	 text-decoration:none;
	 color:#333;
}
.top_menu>a:hover {
	background-color:#999;
	color:#FFF;
}
.cat_filter>a {
	 display:inline-block;
	 min-width:130px;
	 height:35px;
	 padding-top:7px;
	 text-align:center;
	 text-decoration:none;
	 color:#333;
	 box-shadow: 
	    2px 0 0 0 #999, 
	    0 2px 0 0 #999, 
	    2px 2px 0 0 #999,   /* Just to fix the corner */
	    2px 0 0 0 #999 inset, 
	    0 2px 0 0 #999 inset;
}
.cat_filter>a:hover {
	background-color:#CCC;
	color:#FFF;
}
.cat_filter.left_filter {
	text-align:left;
}
.cat_filter.right_filter {
	text-align:right;
}
.bottom_menu { 
	margin-top:15px;
}
.bottom_menu>a {
	 display:inline-block;
	 width:200px;
	 height:25px;
	 box-shadow: 
	    2px 0 0 0 #CCC, 
	    0 2px 0 0 #CCC, 
	    2px 2px 0 0 #CCC,   /* Just to fix the corner */
		    2px 0 0 0 #CCC inset, 
		    0 2px 0 0 #CCC inset;
		 padding-top:3px;
		 text-align:center;
		 text-decoration:none;
		 color:#333;
	}
	.bottom_menu>a:hover {
		background-color:#999;
		color:#FFF;
	}
	.bottom_copyright {
		padding-top:10px;
		text-align:center; 
}
#griptok-page-title { text-align:left;font-size:13px;font-weight:700; }
#griptok-page-path { text-align:right;font-size:13px;font-weight:700; } 