.cat_filter>a {
	 display:inline-block;
	 min-width:130px;
	 height:35px;
	 padding-top:7px;
	 text-align:center;
	 text-decoration:none;
	 color:#333;
	 box-shadow: 
	    2px 0 0 0 #999, 
	    0 2px 0 0 #999, 
	    2px 2px 0 0 #999,   /* Just to fix the corner */
	    2px 0 0 0 #999 inset, 
	    0 2px 0 0 #999 inset;
}
.cat_filter>a:hover {
	background-color:#CCC;
	color:#FFF;
}
.cat_filter.left_filter {
	text-align:left;
}
.cat_filter.right_filter {
	text-align:right;
}