.custom-container {
  padding-top: 100px;
}

.grey_back_title{
	background-color:#D3D3D3;
	padding : 10px 10px 10px 10px;	
}

.grey_back_td{
	background-color:#D3D3D3;
	text-align:center;
}

.sm-txt{
	font-size : 9px;
}
.bolded{
	font-weight:bold;
}

#interested-tbl td{
	vertical-align: middle; 
}

