.custom-container { padding-top: 100px; }
.grey_back_title{ background-color:#D3D3D3;padding:10px 10px 10px 10px; }
.grey_back_td{ background-color:#D3D3D3; text-align:center;}

.sm-txt{ font-size:9px; }
.bolded{ font-weight:bold; }
#interested-tbl td{ vertical-align: middle; }
#addall{ width:165px;font-size:12px; }
#deleteall{ width:118px;font-size:12px;}
.table_add_btn,
.table_delete_btn{ width:132px;font-size:12px;height:30px;}
.table_add_btn{ margin-bottom:8px;}

.grey_font{ color:#9b9b9b; }
.margin_l_18{ margin-left:18px; } 
.margin_t_15 { margin-top:15px; }
.margin_b_17{ margin-bottom:17px; }
/*
#interested-tbl { border-collapse:collapse;margin:14px 0px;width:100%; }
#interested-tbl th,
#interested-tbl td { border:1px solid #E0E0E0;color:#7c7c7c;font-size:12px;line-height:12px;padding:14px 20px; }
#interested-tbl th { background-color:#FCFCFC;text-align:center; }
#interested-tbl td { }
*/