.login_top_cover{
	 overflow:hidden;
	 text-align: center;
}

.login_top{
	float:left;
}

.login_float{
	padding-right : 10px;
	cursor:pointer;
	float:left;
}

.bolded{
	font-weight:bold;
}

.container.custom-container {
  padding-top: 100px;
}

.grey_back_title{
	background-color:#D3D3D3;
	padding : 10px 10px 10px 10px;	
}

.grey_back_td{
	background-color:#D3D3D3;	
	text-align:center;
}

#info_change_table td{
	padding : 10px 10px 10px 10px;
	border : 1px solid #808080; 
}

#info_change_table{
	width:100%;
	
}

.input_ten{
	width:10%;	
}

.input_twenty{
	width:20%;	
}

.input_thirty{
	width:30%;	
}

.input_forty{
	width:40%;	
}

.input_fifty{
	width:50%;	
}

.input_sixty{
	width:60%;	
}

.input_seventy{
	width:70%;	
}

.input_eighty{
	width:80%;	
}

.input_ninty{
	width:90%;	
}

.input_hundred{
	width:100%;	
}


.orange_font{
	color:orange;
}

.btn_blue{
	color : white;
	background-color : #19B4F0;
}

.modal-backdrop:nth-child(2n-1) {
  opacity : 0;
}

.btn_blue_border{
	border-color : #19B4F0;
}
