.login_top_cover{
	 overflow:hidden;
	 text-align: center;
}

.login_float{
	padding-right : 10px;
	cursor:pointer;
	float:left;
}


.h_tag_center{
	text-align : left;
}
    

.container.custom-container {
  padding-top: 100px;
}

.option-button {
    height:100%;
    width:100%;
}

.media-object {
    height: 100px;
}

#login_passwd{
	margin-top:10px;
}

.notice{
	font-size:20px;
}