.login_top_cover{
	 overflow:hidden;
	 text-align: center;
}

.login_float{
	padding-right : 10px;
	cursor:pointer;
	float:left;
}

.h_tag_left{
	text-align : left;
}

.h_tag_center{
	text-align : center;
}
    

.container.custom-container {
  padding-top: 100px;
}

.option-button {
    height:100%;
    width:100%;
}

.media-object {
    height: 100px;
}

#login_passwd{
	margin-top:10px;
}

.notice{
	font-size:20px;
}

.small_font{
	font-size : 12px;
}

.hidden{
	display:hidden;
}

.modal_border{
	border-radius: 13px;  
	border-style: solid;
	border-width:thick;
  	border-color: #c2cdd1;
}

.btn_blue{
	color : white;
	background-color : #5B9BD5;
}
