.login_top_cover{
	 overflow:hidden;
	 text-align: center;
}

.h_tag_left{
	text-align : left;
}

.h_tag_center{
	text-align : center;
}
    

.container.custom-container {
  padding-top: 100px;
}

.option-button {
    height:100%;
    width:100%;
}

.notice{
	font-size:20px;
}

.small_font{
	font-size : 12px;
}

.hidden{
	display:hidden;
}

.modal_border{
	border-radius: 13px;  
	border-style: solid;
	border-width:thick;
  	border-color: #c2cdd1;
}

.btn_blue{
	color : white;
	background-color : #5B9BD5;
}

.width_9{
	width:90%;
}

.width_480{
	width:480px;
}
.width_290{
	width:290px;
}

.width_70{
	width:70px;
}

.width_95{
	width:95px;
}
.margin_l_5{
	margin-left:5px;
}
.margin_l_10{
	margin-left:10px;
}
.margin_l_15{
	margin-left:15px;
}

.margin_l_18{
	margin-left:18px;
}
.margin_l_22{
	margin-left:22px;
}
.margin_l_30{
	margin-left:30px;
}
.margin_l_80{
	margin-left:80px;
}
.margin_r_5{
	margin-right:5px;
}
.margin_r_12{
	margin-right:12px;
}
.margin_r_14{
	margin-right:14px;
}
.margin_r_15{
	margin-right:15px;
}
.margin_r_18{
	margin-right:18px;
}
.margin_r_2{
	margin-right:20px;
}

.margin_r_3{
	margin-right:30px;
}

.margin_r_4{
	margin-right:40px;
}
.margin_r_40{
	margin-right:40px;
}

.margin_b_15{
	margin-bottom:15px;
}
.margin_b_35{
	margin-bottom:35px;
}
.margin_b_88{
	margin-bottom:88px;
}

.margin_t_10{
	margin-top:10px;
}
.margin_t_15{
	margin-top:15px;
}
.margin_t_17{
	margin-top:17px;
}
.margin_t_20{
	margin-top:20px;
}
.margin_t_22{
	margin-top:22px;
}
.margin_t_28{
	margin-top:28px;
}
.margin_t_70{
	margin-top:70px;
}
.popup_btn{
	width:125px;
	height:47px;
}

.input_holder{
  text-indent: 10px;
  height : 35px;
}


/*
	sign_up 
*/
.sign_up_box{
	width : 1200px;
}

.header_font{
	font-size : 25px;
}

.sub_header_font{
	font-size : 20px;
}
.sub_header_font .title-icon { font-size:15px;color:#CFCFCF;}

.info_font{
	font-size : 15px;
}

.grey_font{
	color : #8e8e8e;
}
.line_division_r{
	border-right:2px dashed #EAEAEA;	
}
.line_division{
	border-left:2px dashed #EAEAEA;
}

.sign_up_bix_box{
	width : 182px;
	height : 60px;
	font-size : 17px;
}
