body { background-color:#E8E8E8;}
/* header */
.griptok-admin-header { display:table;width:100%;height:54px;border:1px solid #00A1E3;background-color:#19B4F0; }
.griptok-admin-header img,
.griptok-admin-header span{ display:inline-block;vertical-align:middle; }
.griptok-admin-header .header-left,
.griptok-admin-header .header-right { display:table-cell;width:50%; }

.griptok-admin-header .header-left-left  { display:table-cell;padding:9px 15px; }
.griptok-admin-header .header-left-right { display:table-cell;padding-top:9px;color:#FFF;vertical-align:top; }

.griptok-admin-header .header-right { text-align:right; }
.griptok-admin-header .top-right-menu { display:inline-block;margin-right:15px; }
.griptok-admin-header .top-right-menu a { color:#FFF;font-size:12px; }
.griptok-admin-header .top-right-menu a>img { margin-right:2px; }

.griptok-header.most-top-menus { height:54px;padding:11px; text-align:right;font-size:12px;letter-spacing:-2px; }
.griptok-header.most-top-menus>a { color:#747474; }
.griptok-header.most-top-menus.slash-seperator { padding:0px 5px; }
.most-top-baseline { border-top:1px solid #DCDCDC; }

.griptok-side-menu .side-menu-lv1 { cursor:pointer }
.griptok-side-menu .side-menu-lv2 { display:none }
.griptok-side-menu .side-menu-lv2.side-menu-lv2-active { display:block }

/* body */
.griptok-admin-body { display:table;width:100%;height:100%; }
.griptok-admin-body .left-content,
.griptok-admin-body .right-content { display:table-cell; }
.griptok-admin-body .left-content  { width:165px;vertical-align:top;background-color:#003C60; }
.griptok-admin-body .right-content .main-shopping-list { padding:15px; }
/* body - left */
.griptok-admin-body .side-menu .side-header { background-color:#002E4E;height:99px;padding:21px 23px; }
.griptok-admin-body .side-header .go-main-link { display:block;text-align:center;border-radius:5px;border:1px solid #003F65;width:119px;height:57px;
												 padding-top:10px;background-image:linear-gradient(to top,#003668,#00446D );color:#FFF;text-decoration:none;}
.go-main-link .go-main-link-text { font-size:12px;margin-top:5px; } 
.griptok-admin-body .side-menu a { color:#FFF; }
.griptok-admin-body .side-menu a:hover { color:#FFF; }
.griptok-admin-body .side-menu-lv1 { display:table;width:100%;cursor:pointer; }
.griptok-admin-body .side-menu-lv1 .menu-title,
.griptok-admin-body .side-menu-lv1 .menu-toggle-arrow { display:table-cell;font-size:12px;height:41px;padding-top:15px; }
.griptok-admin-body .side-menu-lv1 .menu-title		  { color:#FFF;padding-left:15px; }
.griptok-admin-body .side-menu-lv1 .menu-toggle-arrow { width:20px;color:#4D7790; }
.griptok-admin-body .side-menu-lv1-child  { display:none;background-color:#00426B;padding:5px 0px; }
.griptok-admin-body .side-menu-lv1-child.active { display:block; }
.griptok-admin-body .side-menu-lv2 { margin:12px 0px;font-size:12px;padding-left:20px; }

/* body - right */
.griptok-admin-body .right-content .griptok-admin-monitor,
.griptok-admin-body .right-content .griptok-admin-content { display:table;width:calc(100% - 30px);margin:15px 15px 0px 15px;background-color:#FFF; } 

.griptok-admin-body .right-content .griptok-admin-monitor { height:79px;padding:9px 0px; }
.griptok-admin-body .right-content .griptok-admin-content { min-height:400px;padding:0px; }
.griptok-admin-content .gtk-content-header { padding-top:10px;padding-bottom:10px;border-bottom:1px solid #E8E8E8; }
#griptok-page-path  { display:none; }

.griptok-admin-monitor .monitor-box-list { display:table;height:61px; }
.monitor-box-list .monitor-box { display:table-cell;border-right:2px solid #C4C4C4; }
.monitor-box-list .monitor-box.last { border-right:0px;  }
.monitor-box .monitor-title, 
.monitor-box .monitor-count { display:table-cell; }
.monitor-box .monitor-title { text-align:center;width:98px;padding-top:9px;padding-left:30px;font-size:12px;font-weight:700; }
.monitor-box .monitor-title a { color:#757575 }
.monitor-box .monitor-title img { vertical-align:baseline; }
.monitor-box .monitor-count { vertical-align:middle;font-size:30px;font-weight:700;width:98px;padding-left:20px;color:#19B4F0; }

/* footer */
.griptok-admin-footer { display:table;width:calc(100% - 30px);height:82px; margin:15px 15px 0px 15px;background-color:#FFF; }
.griptok-admin-footer .footer-left { display:table-cell;width:50%; text-align:left; }  
.griptok-admin-footer .footer-right { display:table-cell;width:50%; text-align:right; }