/* body */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html { height:100% }

body {
/*	margin: 1% !important;*/
	font-family: 'Nanum Gothic', sans-serif !important;
	height:100%;
}
a { cursor:pointer; }
a,a:hover{ text-decoration:none; }
 
.griptok-header, .griptok-body, .griptok-footer { max-width:1200px; margin:0 auto !important; }
.slash-seperator { padding:0px 12px; }
/* menus */
.top_menu { 
	 text-align:right;
}
.top_menu>a {
	 display:inline-block;
	 width:90px;
	 height:27px;
	 box-shadow: 
	    2px 0 0 0 #CCC, 
	    0 2px 0 0 #CCC, 
	    2px 2px 0 0 #CCC,   /* Just to fix the corner */
	    2px 0 0 0 #CCC inset, 
	    0 2px 0 0 #CCC inset;
	 padding-top:3px;
	 text-align:center;
	 text-decoration:none;
	 color:#333;
}
.top_menu>a:hover {
	background-color:#999;
	color:#FFF;
}
/* footer */
.griptok-footer { background-color:#FFF }
.bottom-liner { background-color:#F4F4F4;font-size:12px; }
.bottom-liner .bottom-liner-left{ display:inline-block;width:50%;text-align:left; }
.bottom-liner .bottom-liner-right{ display:inline-block;width:50%;text-align:right;vertical-align:top; }
.bottom_menu { margin-top:10px; margin-right:17px; }
.bottom-pad { display:block; height:17px; }
.bottom_menu>a { text-decoration:none; color:#333; } 
.bottom_menu>.slash-seperator { padding:0px 12px; }
.gtk-logo-text { width:768px; padding:20px 3%; border:1px solid #C3C3C3; float:right; vertical-align:top;font-size:12px; }
.gtk-logo-text>.left-text {display: inline-block; width: 47%; vertical-align: top;}
.gtk-logo-text>.right-text {display: inline-block; width: 47%;}

/* content-header */
#griptok-page-path { margin:15px 3px;text-align:right;font-size:12px;color:#9F9F9F; }
#griptok-page-title { margin:3px 0px;padding-left:9px;text-align:left;border-left:9px solid #19B4F0;font-size:25px;font-weight:900;color:#010101;}
.griptok-start-menus { width:100%;height:44px;text-align:center;
					   background-color:#19B4F0;border-top:1px solid #00A1E3;border-bottom:1px solid #00A1E3;}
.griptok-start-menus>a{ display:inline-block;margin-right:25px;padding:14px 0px 12px 0px;line-height:13px;font-size:13px;color:#FFF; }
.griptok-start-menus>a.active { border-bottom:3px solid #FFF; }

/* content-body */
.griptok-body .left-content { width:137px;display:table-cell;background-color:#FBFBFB;vertical-align:top; }
.griptok-body .right-content { width:1063px;display:table-cell;padding-left:10px;padding-bottom:20px;vertical-align:top; }

/* side-menus */
.griptok-body .griptok-side-menu { width:100%; height:100%; }
.griptok-body .griptok-side-menu .griptok-side-title { 
	height:80px; padding:20px 10px; color:#FFF; background-color:#555; 
	font-size:20px;font-weight:800;line-height:25px;text-align:center;word-break:keep-all;
}
.griptok-body .griptok-side-menu .griptok-side-body  { padding-top:15px;padding-bottom:15px; }
.griptok-body .griptok-side-menu .griptok-side-body>div  { font-size:12px;font-weight:400;line-height:25px;letter-spacing:-1px;}
.griptok-body .griptok-side-menu .griptok-side-body a{ border-left:5px solid transparent;display:block;padding:0px 3px;color:#5D5D5D; }
.griptok-body .griptok-side-menu .griptok-side-body a.active { border-left:5px solid black; }
.griptok-body .griptok-side-menu .side-banner { }
.griptok-body .griptok-side-menu .side-banner img { width:137px;margin:10px 0px; } 


/* buttons */
.gtk-btn { 
	width:180px; height:60px;
	background-color:#E0E0E0; color:#4F4F4F;
	border:0px solid transparent;
	font-size:17px; font-weight:600;
	vertical-align:top;text-align:center;
}

.gtk-btn.gtk-btn-sm { width:100px; height:30px; font-size:12px; }
.gtk-btn.gtk-btn-lg { width:250px; font-size:17px; }
.gtk-btn.gtk-btn-fluid { width:100%; height:100%; font-size:17px; }

.gtk-btn.gtk-btn-blue  { background-color:#19B4F0;color:#FFF; }
.gtk-btn.gtk-btn-white { background-color:#FFF; color:#333; }
.gtk-btn.gtk-btn-line-blue  { background-color:#19B4F0;border:2px solid #41719C }
.gtk-btn.gtk-btn-line-white { background-color:#FFF; color:#333;border:2px solid #7F7F7F }

/* process bar */
.gtk-process-bar button{ 
	width:200px;height:50px;
	border:0px;
    background-image:url(/img/common/process_bar_c.png);
    background-repeat:repeat;
	font-size:15px; font-weight:700;
	vertical-align:top;text-align:center;
}
.gtk-process-bar.gtk-process-active button{  background-image:url(/img/common/process_bar_active_c.png);color:#FFF; }

.gtk-process-bar.gtk-process-bar-sm button{ 
	width:200px;height:40px;
    background-image:url(/img/common/process_bar_sm_c.png);
	font-size:13px; font-weight:700;

}
.gtk-process-bar-sm.gtk-process-active button{  background-image:url(/img/common/process_bar_sm_active_c.png);color:#FFF; }

/**/
.gtk-top-hr-dash { border-top:2px dashed #CCC }

/* file-uploader */
.gtk-file-upload { width:255px; height:255px; position:relative; }
.gtk-file-upload img,
.gtk-file-upload input[type="file"],
.gtk-file-upload p { position:absolute;top:0px;left:0px;width:100%;height:100%;border:2px dashed #CFCFCF;
					 text-align:center;line-height:255px;color:#CFCFCF; }
.gtk-file-upload p { display:block; } 
.gtk-file-upload input[type="file"] { display:block;opacity:0;outline: none;z-index:3; }
.gtk-file-upload img { display:none; }

.gtk-detail-imgs-group { padding:5px 25px;  }
.gtk-detail-imgs-group .gtk-input-group { display:inline-block;padding:5px; }
.gtk-detail-imgs-group .gtk-file-upload { width:50px;height:50px; }
.gtk-detail-imgs-group .gtk-file-upload p { line-height:50px }
.gtk-detail-imgs-group .gtk-file-upload p .upload-text { display:none; }
.gtk-form-btn-group { margin-bottom:20px;text-align:center; }

/* rescue-css */
.container-fluid { padding-left:0px !important; padding-right:0px !important; }
.row { margin-left:0px !important; margin-right:0px !important; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, 
.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { padding-left:0px !important; padding-right:0px !important; }

/* main widget css */
.gtk-main-box { margin:20px 60px;padding:25px;border:1px solid #EAEAEA; }
.gtk-main-box>.gtk-box-half { display:inline-block;width:50%;vertical-align:top; }
.gtk-group-title { padding:10px 5px;font-size:20px;font-weight:600;color:#5E5E5E; }
.gtk-group-title .title-icon { font-size:15px;color:#CFCFCF; }
.gtk-input-group { font-size:15px;font-weight:400;color:#5E5E5E;padding:0px 30px;margin-bottom:12px; }
.gtk-input-group label { display:block;margin-bottom:5px;font-weight:400; }
.gtk-input-group input[type=text],
.gtk-input-group input[type=number],
.gtk-input-group input[type=password] { width:80%;height:30px;margin-right:5px;border:1px solid #EAEAEA;padding:3px 3px 3px 10px;font-size:12px; }
.gtk-input-group select { height:30px;border:1px solid #EAEAEA;padding:3px; }
.gtk-input-group button.gtk-btn { width:calc(20% - 5px) }

.gtk-input-group.no-addon input[type=text],
.gtk-input-group.no-addon input[type=number],
.gtk-input-group.no-addon input[type=password],
.gtk-input-group.no-addon select{ width:100% }

.gtk-group-content { padding:0px 10px; }
/* table css */
.gtk-table { width:100%;border-collapse: collapse; }
.gtk-table th, .gtk-table td { border:1px solid #E0E0E0; padding:14px 12px;height:40px;font-size:12px;line-height:12px;color:#7C7C7C;vertical-align:middle; }
.gtk-table th { background-color:#FCFCFC;text-align:center; }
.gtk-table td.gtk-td-center { text-align:center; }
.gtk-table td.gtk-td-right { text-align:right; }
.gtk-table td input { margin:0px; }

.gtk-table-option { margin-bottom:15px; }
.gtk-table-option .gtk-btn { margin-right:5px;  }

.gtk-filter-group { text-align:right;margin-bottom:15px; }
.gtk-filter-group input,
.gtk-filter-group select { min-width:160px;height:25px;padding-left:10px;margin-left:5px;border:1px solid #E3E3E3;color:#7C7C7C;font-size:12px; }

/* datatable css */
.gtk-datatable { border-collapse:collapse;margin:14px 0px;width:100%; }
.gtk-datatable th,
.gtk-datatable td { border:1px solid #E0E0E0;color:#7c7c7c;font-size:12px;line-height:12px;padding:14px 20px; }
.gtk-datatable th { background-color:#FCFCFC;text-align:center; }
.gtk-datatable td {  }
.dataTables_paginate { text-align:center; margin: 15px 0px; color: #7c7c7c; }
.dataTables_paginate a { text-decoration:none;color:#7c7c7c }
.dataTables_paginate a:hover { text-decoration:none;color:#000; }

.dt-body-center {text-align:center;}
.dataTables_paginate .paginate_button:hover { cursor:pointer; }
.dataTables_paginate span>.paginate_button { display:inline-block;width:25px;height:25px;padding:1px;
										text-align: center;vertical-align: middle;margin: 5px;
										color: #7C7C7C; border:1px solid #E0E0E0; background-color: #FFF; }
.dataTables_paginate span>.paginate_button.current { color: #FFF; border:1px solid #00A1E3; background-color: #19B4F0; } 
.dataTables_paginate .paginate_button.previous, 
.dataTables_paginate .paginate_button.next {  }

/* pager css */
.gtk-pager { text-align:center;margin:30px; }
.gtk-pager .gtk-pager-button { display:inline-block;width:28px;height:28px;padding-top:4px;
							   text-align: center;vertical-align: middle;
							   font-size:12px;color:#7C7C7C;border:1px solid #E0E0E0; background-color: #FFF; }
.gtk-pager .gtk-pager-button.active { color:#FFF; border:1px solid #19B4F0; background-color: #19B4F0; } 
.gtk-pager .gtk-pager-prev, 
.gtk-pager .gtk-pager-next { color:#D1D1D1;vertical-align:middle; }
.gtk-pager .gtk-pager-prev { margin-right:9px; }
.gtk-pager .gtk-pager-next { margin-left:9px; }
