<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.griptk.b2b.common.mapper.MenuMapper">
	<select id="listInClientRoot" parameterType="String" resultType="com.griptk.b2b.common.domain.MenuVO">
		SELECT 	
			menu_id, menu_nm, p_menu_id, menu_url, menu_auth, template_id
		FROM tb_menu
		WHERE 1=1
		AND p_menu_id = 'client_root'
		AND ( 
			menu_auth = 'A'
			OR 
			menu_auth = #{menu_auth}
		)  
		AND menu_id != 'shop_main'
		ORDER BY sort_no
	</select>
	
	<select id="listMenuByParent" parameterType="com.griptk.b2b.common.domain.MenuVO" resultType="com.griptk.b2b.common.domain.MenuVO">
		SELECT 	
			menu_id, menu_nm, p_menu_id, menu_url, menu_auth, template_id
		FROM tb_menu
		WHERE 1=1
		AND p_menu_id = #{p_menu_id}
		AND ( 
			menu_auth = 'A'
			OR 
			menu_auth = #{menu_auth}
		)
		ORDER BY sort_no
	</select>
	
	<select id="list" resultType="com.griptk.b2b.common.domain.MenuVO">
		SELECT 	
			menu_id, menu_nm, p_menu_id, menu_url, menu_auth, template_id
		FROM tb_menu WHERE 1=1	
	</select>	
	
	<select id="listWithUrl" resultType="com.griptk.b2b.common.domain.MenuVO">
	<![CDATA[
		WITH RECURSIVE MENUS AS (
			SELECT 
				x.menu_id, p_menu_id, menu_url, menu_nm, menu_auth, template_id
			FROM ( SELECT  MAX(menu_id) AS menu_id FROM tb_menu GROUP BY menu_url ) x 
			INNER JOIN tb_menu y ON x.menu_id = y.menu_id
		), P_MENUS AS (
			SELECT 
				menu_id, p_menu_id, 
				menu_nm AS menu_path, menu_id AS id_path,
				menu_id AS root_id
			FROM MENUS
			UNION ALL
			SELECT 
				a.menu_id, a.p_menu_id, 
				CONCAT(b.menu_path,' > ',a.menu_nm) AS menu_path, CONCAT(b.id_path,',',a.menu_id) AS menu_path, 
				b.root_id AS root_id
			FROM MENUS a
			INNER JOIN P_MENUS b ON a.p_menu_id = b.menu_id
		)
		SELECT 
			ref.menu_id, ref.p_menu_id, ref.menu_url, 
			ref.menu_nm, ref.menu_auth, ref.template_id,
			src.menu_path,src.id_path
		FROM P_MENUS src
		INNER JOIN tb_menu ref ON src.menu_id = ref.menu_id
		WHERE root_id = 'client_root'
	]]>	
	</select>
	
	<select id="listMenusByBrand" resultType="com.griptk.b2b.common.domain.MenuVO">
	<![CDATA[
		SELECT 
			brand_no AS menu_id,
			CONCAT('/main/brand?p_id=',p_brand_no,'&id=',brand_no) AS menu_url, 
			brand_nm AS menu_nm
		FROM tb_brand_type WHERE p_brand_no = #{p_brand_no}
		ORDER BY brand_no
	]]>
	</select>
	
	<select id="listMenusByCraft" resultType="com.griptk.b2b.common.domain.MenuVO">
	<![CDATA[
		SELECT 
			category_no AS menu_id,
			CONCAT('/main/craft?p_id=',craft_no,'&id=',category_no) AS menu_url, 
			category_nm AS menu_nm
		FROM tb_product_category WHERE craft_no = #{craft_no}
		ORDER BY craft_no
	]]>
	</select>
</mapper>