#save-product-form #v_craft_no,
#save-product-form #v_brand_no,
#save-product-form #v_category_no { width:32%; }
.gtk-category-form { margin:10px; }
.gtk-category-form input,
.gtk-category-form select { margin-right:5px; }
.gtk-category-form input,
.gtk-category-form select, 
.gtk-category-form button{ height:20px;vertical-align:middle; }
.gtk-category-form button.gtk-btn { width:50px;font-size:12px;font-weight:400; }  