#save-product-form #v_craft_no,
#save-product-form #v_brand_no,
#save-product-form #v_category_no { width:32%; }
#save-product-form .gtk-option-row,
#save-product-form .gtk-img-row { margin-bottom:5px; }
#save-product-form .gtk-option-btn,
#save-product-form .gtk-img-btn {
	background-color:#19B4F0;color:#FFF;
	border:0px solid transparent;
}

#save-product-form #gtk-options-added .gtk-option-btn,
#save-product-form #gtk-imgs-added .gtk-img-btn {
	background-color:#A0A0A0;
}

.gtk-category-form { margin:10px; }
.gtk-category-form input,
.gtk-category-form select { margin-right:5px; }
.gtk-category-form input,
.gtk-category-form select, 
.gtk-category-form button{ height:20px;vertical-align:middle; }
.gtk-category-form button.gtk-btn { width:50px;font-size:12px;font-weight:400; }  